.container-customer {
    width: 100%;
    height: auto;
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #1a1917;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  color: var(--warm-off-white);
  position: relative;
  margin: 0;
  padding: 0;
}
