/* Horizontal Scroll Section */
#sectionPin {
  height: 100vh;
  overflow: hidden;
  /* background: var(--text-color); */
  /* color: var(--bg-color); */
  display: flex;
  align-items: center;
}

.pin-wrap {
  display: flex;
  height: 50vh;
  padding: 10px 10vw;
}

.pin-wrap > * {
  min-width: 20vw;
  /* width: auto; */
  padding: 0 1vw;
}

