/* Horizontal Scroll Section */
#sectionPin {
  height: 100vh;
  overflow: hidden;
  /* background: var(--text-color); */
  /* color: var(--bg-color); */
  display: flex;
  align-items: center;
}

.pin-wrap {
  display: flex;
  height: 50vh;
  padding: 10px 10vw;
}

.pin-wrap > * {
  min-width: 20vw;
  /* width: auto; */
  padding: 0 1vw;
}

/* img {
    height: 80vh;
    width: auto;
    object-fit: cover;
  } */

/* Responsive adjustments */
@media (max-width: 768px) {
  .scroll-animations-example > .scrollsection {
    padding: 5vh 5vh 5vh 5vmax;
  }

  .item.-big.-horizontal {
    height: 45vh !important;
    width: 60vh !important;
  }
}

/* Loading animation */
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.6;
  }
}

.image:not(.-active) {
  animation: pulse 2s infinite ease-in-out;
}
